div#content {
    display: block;
    }

div#loading {
    display: none;
    top: 100px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 600px;
    height: 300px;
    cursor: wait;
    }

div#project-name{
    position: relative;
    width: 400px;
    height: 100px;
    }
div#show-img{
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
    height: 100px;
    background: url(images/loading.gif) no-repeat;
    }
