<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edge.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edge-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edge-output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edge.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mobile.1.4.3.min.css') }}">
      {% if title %}
      <title>{{ title }} PhaME</title>
      {% else %}
      <title>PhaME</title>
      {% endif %}
    {% block head %}{% endblock %}
    </head>
    <body>
        <div>
          PhaME:
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('input') }}">Input</a>
          <a href="{{ url_for('projects_list') }}">Projects</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
