{% extends "base.html" %}
{% block head %}


{% endblock %}
{% block content %}


    <h1>PhaME</h1>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
    <script>
    function showBootstrap() {
        var tree_value = document.getElementById("tree").value;
        console.log(tree_value);
        var bootstrap = document.getElementById("bootstrap");
        if (bootstrap.style.display === "none" && (tree_value === '2' || tree_value === '3')) {
            bootstrap.style.display = "block";
        } else {
            bootstrap.style.display = "none";
        }
    }
    function showBootstrapN() {
        var bootstrap_value = document.getElementById("bootstrapshow").value;
        console.log(bootstrap_value);
        var bootstrapN = document.getElementById("bootstrapN");
        if (bootstrapN.style.display === "none" && bootstrap_value === '1') {
            bootstrapN.style.display = "block";
        } else {
            bootstrapN.style.display = "none";
        }

    }

    </script>

        {{ form.hidden_tag() }}

        <p>
            {{ form.project.label }}
            {{ form.project() }}
            {% for error in form.project.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.data_type.label }}
            {{ form.data_type() }}
            {% for error in form.data.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ref_dir.label }}
            {{ form.ref_dir() }}
            {% for error in form.ref_dir.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.work_dir.label }}
            {{ form.work_dir() }}
            {% for error in form.work_dir.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.reads.label }}
            {{ form.reads() }}
            {% for error in form.reads.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.reads_file.label }}
            {{ form.reads_file() }}
            {% for error in form.reads_file.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.reference.label }}
            {{ form.reference() }}
            {% for error in form.reference.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.reference_file.label }}
            {{ form.reference_file() }}
            {% for error in form.reference_file.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.aligner.label }}
            {{ form.aligner() }}
            {% for error in form.aligner.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cutoff.label }}
            {{ form.cutoff() }}
            {% for error in form.cutoff.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.cds_snps.label }}
            {{ form.cds_snps() }}
            {% for error in form.cds_snps.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tree.label }}
            {{ form.tree() }}
            {% for error in form.tree.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bootstrap.label }}
            {{ form.bootstrap() }}
            {% for error in form.bootstrap.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.N.label }}
            {{ form.N() }}
            {% for error in form.N.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.do_select.label }}
            {{ form.do_select() }}
            {% for error in form.do_select.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.pos_select.label }}
            {{ form.pos_select() }}
            {% for error in form.pos_select.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.clean.label }}
            {{ form.clean() }}
            {% for error in form.clean.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.threads.label }}
            {{ form.threads() }}
            {% for error in form.threads.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>


{#        <p>#}
{#          {{ form.tree.label }}#}
{#            <select id="tree" onchange="showBootstrap()">#}
{#              <option value="0">No tree</option>#}
{#              <option value="1">FastTree</option>#}
{#              <option value="2">RAxML</option>#}
{#              <option value="3">Both</option>#}
{#            </select>#}
{#        </p>#}
{#        </div>#}
{#        <div id="bootstrap" style="display: none">#}
{#            <select id="bootstrapshow" onchange="showBootstrapN()">#}
{#              <option value="0">No#}
{#              <option value="1">Yes#}
{#            </select>#}
{#        </div>#}
{#        <div id="bootstrapN" style="display: none">#}
{#        <p>#}
{#            {{ form.N.label }}#}
{#            {{ form.N() }}#}
{#            {% for error in form.N.errors %}#}
{#              <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        </div>#}

    </form>

{% endblock %}
