{% extends "base.html" %}
{% block head %}
<!-- For MS IE/Edge compatibility:-->
    <meta http-equiv="X-UA-Compatible" content="IE=100">


    <!-- CSS for jQuery UI: -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">



  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/phame-output.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/phame-loading.css') }}">


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
        function preloader(){
                document.getElementById("loading").style.display = "none";
                document.getElementById("content").style.display = "block";
            }//preloader
            window.onload = preloader;
    </script>
{% endblock %}
{% block content %}
<div id="loading"></div>
<div id="content">

  <div>
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
  </div>
<div>

</div>
  <div>
  <h2>PhaME FastTree Visualization</h2>
  {% for tree in tree_files %}
    <li><a href="{{ project }}/{{ tree }}">{{ tree }}</a></li>
  {% endfor %}
  </div>
  <div><a href="{{ url_for('download', project=project) }}" target="_blank">download output files for {{ project }}</a></div>
</div>
{% endblock %}
