{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
        <title>PHaME</title>
  <link rel="shortcut icon" href="{%  static 'images/edge.ico' %}" type="image/x-icon">
  <link rel="icon" href="{%  static 'images/edge.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="{%  static 'images/edge_logo_114.png' %}">
  <link rel="icon" href="{%  static 'images/edge_logo_192.png' %}"  >
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.datepicker.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.datepicker.theme.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/edge_fonts/edge_fonts.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/edge-theme.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.icons.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.1.4.3.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jqueryFileTree.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.dataTables.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.dataTables.custom.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/edge.css' %}"/>
	<link rel='stylesheet' href="{%  static 'css/edge-output.css' %}"/>
	<link rel='stylesheet' href="{%  static 'css/tooltipster.css' %}"/>
	<link rel='stylesheet' href="{%  static 'css/spectrum.css' %}"/>
	<link rel="stylesheet" href="{%  static 'css/jquery.lazyloadxt.spinner.min.css' %}">
	<link rel="stylesheet" type="{%  static 'text/css" href="css/zocial.css' %}" />

{#  <script src="{%  static 'javascript/jquery.js' %}"></script>#}
{#	<script src="{%  static 'javascript/jquery-ui-datepicker.js' %}"></script>#}
{#	<script src="{%  static 'javascript/jquery.mobile-1.4.3.min.js' %}"></script>#}
{#	<script src="{%  static 'javascript/jquery.dataTables.min.js' %}"></script>#}

</head>
<body>
{#<div id="loading" data-role="page" class="edge-demos edge-home ui-page ui-page-theme-a ui-page-footer-fixed ui-page-active" data-url="" tabindex="0" style="padding-bottom: 82px;">#}

{#  <div data-role="header" class="edge-header ui-header ui-bar-inherit">#}
{#		<div class="edge-logo">#}
{#			<a href=''><img src="{%  static 'images/edge_logo.svg' %}">#}
{#			<h2 class="ui-title" role="heading" aria-level="1">PhaME</h2>#}
{#			</a>#}
{#		</div>#}
{#		<a href="" class="edge-navmenu-link ui-nodisc-icon ui-btn-left ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all" data-role="button" role="button">Menu</a>#}
{#                <div class="edge-navmenu-button-div">#}
{#                        <a href="" class="edge-nav-btn ui-corner-all" id="edge-project-title" data-pid=""></a>#}
{#                        <a href="" class="edge-nav-btn ui-corner-all" id="edge-user-btn"      >Login</a>#}
{#                </div>#}
{#		<a href="" class="edge-action-link ui-nodisc-icon ui-btn-right ui-btn ui-icon-action ui-btn-icon-notext ui-corner-all no-show-logout " data-role="button" role="button">Action</a>#}
{#	</div><!-- /header -->#}
  <div style="margin-top: 100px;">
<form action="/phame_app/input" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="submit" value="Submit" />
</form>
  </div>
{#</div>#}
</body>
</html>
