<!DOCTYPE html>
<html lang="en">
{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
        <title>PHaME</title>
  <link rel="shortcut icon" href="{%  static 'images/edge.ico' %}" type="image/x-icon">
  <link rel="icon" href="{%  static 'images/edge.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon-precomposed" href="{%  static 'images/edge_logo_114.png' %}">
  <link rel="icon" href="{%  static 'images/edge_logo_192.png' %}"  >
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.datepicker.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.datepicker.theme.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/edge_fonts/edge_fonts.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/edge-theme.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.icons.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.mobile.1.4.3.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jqueryFileTree.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.dataTables.min.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/jquery.dataTables.custom.css' %}" />
	<link rel="stylesheet" href="{%  static 'css/edge.css' %}"/>
	<link rel='stylesheet' href="{%  static 'css/edge-output.css' %}"/>
	<link rel='stylesheet' href="{%  static 'css/tooltipster.css' %}"/>
	<link rel='stylesheet' href="{%  static 'css/spectrum.css' %}"/>
	<link rel="stylesheet" href="{%  static 'css/jquery.lazyloadxt.spinner.min.css' %}">
	<link rel="stylesheet" type="{%  static 'text/css" href="css/zocial.css' %}" />

{#  <script src="{%  static 'javascript/jquery.js' %}"></script>#}
{#	<script src="{%  static 'javascript/jquery-ui-datepicker.js' %}"></script>#}
{#	<script src="{%  static 'javascript/jquery.mobile-1.4.3.min.js' %}"></script>#}
{#	<script src="{%  static 'javascript/jquery.dataTables.min.js' %}"></script>#}

</head>
<body>
{{ run_phame_output }}
<table>
  <tr>
    <th>Name</th>
    <th>Coordinate 1</th>
    <th>Coordinate 2</th>
    <th>Type</th>
  </tr>
  {%  for c in coords %}
  <tr>
    <th> {{ c.name }}</th>
    <th> {{ c.coord1 }}</th>
    <th> {{ c.coord2 }}</th>
    <th> {{ c.type }}</th>
  </tr>
  {%  endfor %}
</table>
</body>
</html>
